PORT=3003
STRIPE_SECRET=sk_test_51QpEGOCLJ0Do9trjHZh7xqbIuwiDETVxZYOKGT8glE9r8ml2NpfoA68eRRntri6kvM9zwqKRmnExWhDAHsbfRztd009Vl9LHjh
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancelled

# Por aqui se consigue en secret del webhook
# https://dashboard.stripe.com/test/workbench/webhooks/we_1QtcTICLJ0Do9trjkkONg3rd/events
STRIPE_ENDPOINT_SECRET=